* {
    margin: 0; padding: 0;
    list-style-type: none;
}
#container{
    position:relative;
    top:70px;
}

#myContent li {
	width: 200px;
    padding: 0;

    transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in; 
    -o-transition: all 0.1s ease-in; 
}

#myContent li:hover{
    z-index: 1;
    padding: 0;
    box-shadow: 0 0 10px #000;
    
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#myContent li img{
    margin: 0;
}
